img {
  width: 25vw;
  height: 15rem;
  margin: 1rem;
  border: 0.2rem solid rgb(223, 182, 130);
  padding: auto;
  -webkit-transition: width 1s, height 1s;
  transition: width 1s, height 1s;
}

img:hover {
  width: 27vw;
  height: 16.5rem;
}

@media only screen and (min-width: 320px) and (max-width: 480px) {
  img {
    height: 6rem;
  }

  img:hover {
    height: 6.5rem;
  }
}